# Dependencies
node_modules/
**/node_modules/

# Environment Variables & Secrets
.env
.env.*
!.env.example
!.env.local.example
**/.env
**/.env.*
!**/.env.example
!**/.env.local.example

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
**/venv/
**/.venv/

# Next.js & Build Outputs
.next/
**/.next/
out/
build/
dist/

# IDE & OS
.DS_Store
*.pem
.vercel
*.tsbuildinfo
next-env.d.ts
.idea/
.vscode/
